---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="h-[100vh] bg-emanon bg-cover bg-[80%] xl:bg-center" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/webp"
      href="https://cdn.discordapp.com/emojis/1073403734392061992.webp"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://timostestdoma.in/" />
    <meta property="og:title" content="timostestdomain" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://timostestdoma.in/" />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/493557274371948545/1088913883529486476/Looking.png"
    />
    <meta property="og:description" content="Welcome to my MySpace page" />
    <meta name="description" content="Personal website" />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>
  </head>
  <body class="flex h-full flex-col items-center justify-between overflow-x-hidden">
    <slot />
  </body>
  <audio src="/reset.mp3" preload="auto" id="reset-audio"
    >Your browser does not support the audio element.</audio
  >
</html>
<script>
  import { Egg } from "../util/eggs/Egg";
  import { caramell } from "../util/eggs/Caramelldansen";
  import { neco } from "../util/eggs/Neco";
  import { peppino } from "../util/eggs/Peppino";
  import { reset } from "../util/eggs/Reset";

  var eggs = [];
  eggs.push(new Egg("neco", neco, true));
  eggs.push(new Egg("peppino", peppino, true));
  eggs.push(new Egg("caramell", caramell, true));
  eggs.push(new Egg("reset", reset, true));
</script>
<style is:global>
  @font-face {
    src: url("/Itim-Regular.ttf") format("truetype");
    font-family: "Itim";
  }

  html {
    font-family: Itim, sans-serif;
    background-color: #f6f6f6;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
  }
</style>
