---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html class="h-full bg-emanon bg-cover bg-[80%] xl:bg-center" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <link rel="canonical" href="https://aniguess.moe/" /> -->
    <meta property="og:title" content="timostestdomain" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://timostestdoma.in/" />
    <meta
      property="og:image"
      content="https://cdn.discordapp.com/attachments/493557274371948545/1088913883529486476/Looking.png"
    />
    <!-- <meta property="og:description" content="" /> -->
    <meta name="description" content="Personal website" />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>
  </head>
  <body class="flex h-full flex-col items-center justify-between overflow-x-hidden">
    <slot />
  </body>
</html>
<script>
  if (document.body.clientWidth >= 2560) {
    let viewport = document.querySelector("meta[name=viewport]")!;
    console.log(viewport);
    viewport.setAttribute("content", "width=device-width, initial-scale=1.5");
    console.log(viewport);
  }
</script>
<style is:global>
  @font-face {
    src: url("/Itim-Regular.ttf") format("truetype");
    font-family: "Itim";
  }
  :root {
  }
  html {
    font-family: Itim, sans-serif;
    background-color: #f6f6f6;
  }
</style>
